@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body {
    background-color: #55ffff;
    font-family: "Ubuntu", sans-serif;
}

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline: 0;
}

button {
    font-family: inherit;
    font-size: large;
    padding: 5px;
    background-color: lavender;
}

button:hover {
    font-family: inherit;
    background-color: #FFFF55;
}

h1 {
    text-align: center;
}

hr {
    color: #FFFF55;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}