@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body {
    background-color: aqua;
    font-family: "Ubuntu", sans-serif;
}

button {
    font-family: inherit;
    font-size: large;
    padding: 5px;
    background-color: lavender;
}

button:hover {
    font-family: inherit;
    background-color: lawngreen;
}