@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body {
    background-color: #77216F;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline: 0;
}

button {
    font-family: inherit;
    font-size: large;
    padding: 5px;
    background-color: #333333;
    color: white;
    display: flex;
    padding: 0.8%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 5px;
}

button:hover {
    font-family: inherit;
    background-color: #E95420;
}

h1 {
    text-align: center;
}

hr {
    border-color: #E95420;
    border-style: solid;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    ;
}